@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <title>Næste uges menu</title>
    <style>
            table {
                border-collapse: collapse;
                width: 80%;
                margin: 20px auto;
            }
    
            th, td {
                border: 3px dashed red;
                padding: 10px;
                text-align: center;
                background-color: #ffcc00;
                color: #990033;
                font-family: 'Comic Sans MS', cursive;
            }
    
            th {
                background-color: #66ff33;
                color: #ff0066;
            }
    
            tr:nth-child(even) {
                background-color: #ff99cc;
            }
    
            h1 {
                text-align: center;
                font-size: 32px;
                color: #ff3300;
                text-decoration: underline;
                font-family: 'Chiller', fantasy;
            }
    
            body {
                background-image: url('https://i.imgur.com/gN7l2r1.jpg');
                background-size: cover;
            }
        </style>
</head>

<div class="text-center">
    <h1>Næste uges menu</h1>
        <table>
            <tr>
                <th>Dag</th>
                <th>Varm Ret</th>
                <th>Kold Ret</th>
            </tr>
            <tr>
                <td>Mandag</td>
                <td>Stegt kylling med kartofler</td>
                <td>Tunmadder</td>
            </tr>
            <tr>
                <td>Tirsdag</td>
                <td>Pasta med kødsovs</td>
                <td>Cæsarsalat</td>
            </tr>
            <tr>
                <td>Onsdag</td>
                <td>Kyllingesuppe</td>
                <td>Rugbrød med leverpostej</td>
            </tr>
            <tr>
                <td>Torsdag</td>
                <td>Vegetarisk lasagne</td>
                <td>Frikadeller med kartoffelsalat</td>
            </tr>
            <tr>
                <td>Fredag</td>
                <td>Pizza</td>
                <td>Fiskefilet med remoulade</td>
            </tr>
        </table>
</div>
